* {
    box-sizing: border-box;
  }

  body {
    max-width: 100%;
    margin: 0%;
  }

  .subpage-title {
    font-family: "shrinkhand";
    color: #101010;
    font-size: 30px;
    margin-left: 20px;
}

    .menu-headings, .half-underlined, .dish-name, .dish-info, .dish-price, .foot{
    font-family: "Roboto",sans-serif;
}


  #header, #main, #body, #footer {
    max-width: 992px;
    margin: 0;
  }
  
  .foot {
    background-color: #353535;
    color: white;
    height: 200px ;
    margin-bottom: 0px;
  }  

@media screen and (max-width: 767px) {

    .logo {
        width: 180px;
        height: 30px;
        margin-left: 60px;
        margin-top: 30px;
        margin-bottom: 10px;
      }


    .fa-arrow-left{
        font-size: 20px;
        color: #353535;
        margin-left: 20px;
        margin-top: 0px;
        padding-top: -100px;
      }

    .food-img{
        width: 100%;
        height: 260px;
        margin-bottom: 0px;
        position: relative;
        z-index: -2;
    }

    .menu{
        background-color: #f2f2f2;
        border-radius: 50px 50px 0px 0px;
        z-index: 1;
    }
    .subpage-title {
        font-family: "Shrikhand", "Roboto";
        color: #101010;
        font-size: 27px;
        margin-top: -50px;
        margin-bottom: 0px;
        padding-top: 35px;
        padding-left: 10px;
    }

    .fa-stack{
        color: #706e6e;
        font-size: 23px;
        margin-left: 310px;
        margin-top: -60px;
    }

    .tick-container{
      display:none;
    }


    .half-underlined {
        border-bottom: 3px solid #99E2D0;
      }

    .menu-headings {
        color: #7B7B7B;
        font-weight: 100;
        margin-left: 25px;
        padding-top: 10px;
    }


    .food-menu {
        height: 70px;
        width: 345px;
        margin-left: 15px;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 10px rgb(213, 210, 210);
        padding: 4px;
      }

    .dish-name {
        margin-left: 8px;
        margin-top: 10px;
        font-size: 19px;
        font-weight: 700 !important;
    }

    .dish-info {
        margin-left: 8px;
        margin-top: -15px;
        font-weight: 100 !important;
        font-weight: 700;
        font-size: 15px;
        color: #757575;
    }

    .dish-price {
        margin-left: 290px;
        margin-top: -35px;
        font-size: 18px;
    }

    .tick-container {
        margin-left: 290px;
    }

    .menu-page-btn {
        font-size: 16px;
        color: white;
        height: 50px;
        width: 200px;
        border-radius: 30px 30px;
        margin-top: 35px;
        margin-left: 85px;
        margin-bottom: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 1px 1px 10px grey;
        border-style: none;  
        background-image: linear-gradient(to right, #C57AE0  0%, #e298e8 0%, #C879E0  51%, #C57AE0  100%);
        transition: 0.5s;
}


  .menu-page-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .logo-footer {
    filter: invert(100%);
    width: 110px;
    height: 20px;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
  } 
   
  .footer-text-2{
    margin-left: 55px;
    margin-top: -45px;
  }

   .footer-text-3{
    margin-left: 25px;
    margin-top: -5px;
  }

  .fa-handshake-angle, .fa-utensils{
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 15px;
  }
}